# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
SAT/.vs/SAT/v15/.suo
SAT/.vs/SAT/v15/Browse.VC.db
SAT/.vs/SAT/v15/Browse.VC.opendb
SAT/.vs/SAT/v15/ipch/5981bfe57677f84.ipch
